                                <h1><i class="fas fa-file-medical-alt"></i> Config Files</h1>
                                <div class="fileController" data-kind="config">
                                  <div class="row">
                                    <div class="col-lg-7 col-md-12">
                                        <table class="table table-striped table-bordered filetable" style="width:100%" data-sortDirection="desc" data-sortIndex="2" data-height="200">
                                            <thead>
                                                <tr>
                                                    <td>
                                                        <b>Files</b> ({{megabyte .ConfigFiles.Size}})
                                                        <div style="float: right;">
                                                            <span class="fileListDirInfo" data-dirdata="{{len .ConfigFiles.Dirs}} dir{{if ne (len .ConfigFiles.Dirs) 1}}s{{end}}">
                                                                {{len .ConfigFiles.List}} file{{if ne (len .ConfigFiles.List) 1}}s{{end}} in {{len .ConfigFiles.Dirs}} dir{{if ne (len .ConfigFiles.Dirs) 1}}s{{end}}&nbsp;
                                                            </span>
                                                            <a href="#configfiles" class="fas fa-sync" title="Refresh list" onclick="destroyWebsocket('config');refreshPage('configfiles')"></a>
                                                        </div>
                                                    </td>
                                                    <td><b>Size</b></td>
                                                    <td><b>Age</b></td>
                                                    <td class="no-sort">
                                                        <div class="btn-group btn-toggle fileSortDirection" data-sort="tails">
                                                            <button class="btn btn-xs btn-seondary toggleButton" onClick="toggleButton($(this));">Heads</button>
                                                            <button class="btn btn-xs btn-brand toggleButton" onClick="toggleButton($(this));">Tails
                                                            </button>&nbsp;<i class="fas fa-sort-amount-up sort-icon toggleIcon" style="font-size:22px;" title="Tails, showing bottom of file first."></i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{- range $file := .ConfigFiles.List }}
                                                <tr id="fileRow{{$file.ID}}" class="fileRow">
                                                    <td style="cursor: pointer;" onclick="fileSelectorChange($(this),{{ $file.ID }})">{{ $file.Name }}</td>
                                                    <td data-sort="{{$file.Size}}">{{megabyte $file.Size}}</td>
                                                    <td data-sort="{{$file.Time}}">{{since $file.Time}}</td>
                                                    <td>
                                                        <a href="downloadFile/config/{{ $file.ID }}" class="fas fa-cloud-download-alt" style="margin-right: 5px;" title="Download config file."></a>
                                                        <i class="fas fa-cloud-upload-alt" onClick="triggerFileAction($(this), 'upload', 'config', {{$file.ID}})" style="cursor: pointer; margin-right: 5px;" title="Upload config file."></i>
                                                        {{if not $file.Used}}<i class="fas fa-trash-alt" onClick="triggerFileAction($(this), 'delete', 'config', {{$file.ID}})" style="cursor: pointer; color: red;" title="Delete config file."></i>{{end}}
                                                    </td>
                                                </tr>
                                                {{- end }}
                                            </tbody>
                                        </table>
                                        <div style="display:none;padding: 0 !important;" class="file-control col-md-12">
                                            <span class="file-action-msg">Displaying last <span class="currentLineCount">0</span> file lines.'</span>
                                            <select class="fileLinesAction">
                                                <option class="fileLinesAdd" value="linesAdd">Add</option>
                                                <option value="linesReload">Reload</option>
                                            </select>
                                            <input class="fileLinesCount" type="number" min="50" max="5000" value="500">
                                            <button onClick="triggerFileLoad($(this))" class="btn btn-xs btn-primary">Go</button>
                                            <span class="file-small-msg file-control"></span><!-- this will say "Still Loading..." -->
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 fileTablesList" style="display:none;">
                                        <h3>Selected File Info</h3>
{{- template "includes/filetablelist.html" .ConfigFiles.List }}
                                    </div>
                                  </div>
                                  <div class="row mt">
                                      <div class="col-md-12">
                                          <div id="configFileContainer">
                                              <div class="well well-sm file-content log-file-content bk-brown brdr scroll-bar-sm">Config file contents display here.
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </div>
{{- /* end of config files (leave this comment) */ -}}
