                                <h1><i class="fas fa-bezier-curve"></i> Integration Insights</h1>
                                <p>
                                    This page (soon) displays data from integrated applications.
                                </p>
                                <hr>