                                <h1><i class="fas fa-network-wired"></i> Service Checks</h1>
                                <div class="col-lg-10 col-md-12 col-sm-12 mb">
                                    <p>The Notifiarr client application is capable of monitoring services via HTTP checks,
                                       TCP port checks or process running (and not running) checks. Use the form at the bottom
                                       of this page to configure service checks. <b>The client service checks work with the Notifiarr.com
                                       Network Integration.</b>
                                   </p>
                                    <p>
                                       Disable and Enable service checks on the <a href="#config" onClick="swapNavigationTemplate('config')">Configuration page</a>.
                                       View running service check inforation on the <a href="#monitoring" onClick="swapNavigationTemplate('monitoring')">Monitoring page</a>.
                                   </p>
                                    <h3>Process Check Type</h3>
                                    <p>The Process check type allows you to monitor that a process is running.
                                        <a class="nav-link" onClick="refreshPage('processlist', false);showProcessList();">View the running process list here.</a>
                                        You may provide expect values to make sure a specific number or min/max count of process is running.
                                        <li style="list-style: disc;">Selecting the <b>Running</b> expect value will trigger an unhealthy alert if this application is found running. Rarely used.</li>
                                        <li style="list-style: disc;">Selecting the <b>Restart</b> expect value will trigger an unhealthy alert if this application is found to have restarted.</li>
                                    </p>
                                    <h3>HTTP Check Type</h3>
                                    <p>The HTTP check type allows you to monitor a URL and expect a specific status code in response.
                                        The expect value should be a a valid HTTP response code like <code>200</code> or <code>400</code>.
                                        Providing an invalid code will default to 200. The check value must be a valid url beginning with
                                        <code>http://</code> or <code>https://</code>.
                                    </p>
                                    <h3>TCP Port Check Type</h3>
                                    <p>The TCP Port check type allows you to monitor a TCP port's connectivity.
                                        This check type does not take any special arguments and does not use the expect value.
                                        Simply provide a host (or IP) and port in the format <code>host:port</code>, example: <code>127.0.0.1:22</code>
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-responsive bk-dark" style="width:100%">
                                            <tr>
                                                <td style="text-align:center;" class="mobile-hide">
                                                    <div style="float: left;font-size:40px;"><i class="fas fa-tasks"></i></div>
                                                    <h3 style="margin-bottom:-45px">Check Configuration</h3>
                                                    <div style="float: right;">
                                                        <button id="services-Checks-addbutton" onclick="addServiceCheck();" data-prefix="Services" data-names='["Name","Type","Value","Expect","Interval","Timeout"]' type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td class="tablet-hide desktop-hide">
                                                    <button onclick="addServiceCheck()" type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                    <h3 style="margin-left:5px;display:inline;">Check Configuration</h3>
                                                    <i class="fas fa-tasks" style="float:right;font-size:40px;"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <form class="form-inline">
                                        <div class="table-responsive">
                                            <table class="table table-bordered bk-dark servicetable" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th style="width:70px;min-width:70px;" class="text-center">
                                                            <div style="display:none;" class="dialogText">
                                                                The <span class="text-danger">red</span> button deletes the service check.<br>
                                                                The <span class="text-success">green</span> button runs the service check.<br>
                                                                The <span class="text-primary">blue</span> button adds a new service check.
                                                            </div>
                                                            <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                            <span class="dialogTitle">Actions</span>
                                                        </th>
                                                        <th style="min-width:120px;">Name</th>
                                                        <th style="min-width:108px;">Type</th>
                                                        <th style="min-width:170px;">Check Value</th>
                                                        <th style="min-width:210px;">Expect</th>
                                                        <th style="min-width:110px;width:110px;">
                                                            <div style="display:none;" class="dialogText">This interval value controls how often the service is checked.</div>
                                                            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                            <span class="dialogTitle">Interval </span>
                                                        </th>
                                                        <th style="min-width:110px;width:110px">Timeout</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="services-Checks-container">
                                                {{- range $index, $svc := .Config.Service}}
                                                    <input disabled style="display: none;" class="client-parameter services-Checks{{$index}}-deleted" data-group="services" data-label="Checks {{instance $index}} Deleted" data-original="false" value="false">
                                                    <tr class="services-Checks" id="services-Checks-{{$index}}">
                                                        <td style="white-space:nowrap;">
                                                            <div class="btn-group" role="group" style="display:flex;">
                                                                <button onclick="removeInstance('services-Checks', {{$index}})" type="button" class="delete-item-button btn btn-danger btn-sm" style="font-size:18px;width:35px;"><i class="fa fa-minus"></i></button>
                                                                <button id="checksIndexLabel{{$index}}" class="btn btn-sm" style="font-size:18px;width:35px;pointer-events:none;">{{instance $index}}</button>
                                                                <button onClick="testService($(this), '{{$index}}')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-check-double"></i></button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group" style="width:100%">
                                                                <div class="input-group" style="width:100%">
                                                                    {{- if (locked (printf "%s_SERVICE_%d_NAME" $.Flags.EnvPrefix $index)) }}
                                                                    <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                        <div style="display:none;" class="dialogText">
                                                                            An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                        </div>
                                                                        <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                        <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SERVICE_%d_NAME" $.Flags.EnvPrefix $index}}</span>
                                                                    </div>
                                                                    {{- end}}
                                                                    <input type="text" id="Service.{{$index}}.Name" name="Service.{{$index}}.Name" data-index="{{$index}}" data-app="checks" class="client-parameter form-control input-sm" data-group="services" data-label="Check {{instance $index}} Name" data-original="{{$svc.Name}}" value="{{$svc.Name}}">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group" style="width:100%">
                                                                <div class="input-group" style="width:100%">
                                                                    {{- if (locked (printf "%s_SERVICE_%d_TYPE" $.Flags.EnvPrefix $index)) }}
                                                                    <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                        <div style="display:none;" class="dialogText">
                                                                            An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                        </div>
                                                                        <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                        <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SERVICE_%d_TYPE" $.Flags.EnvPrefix $index}}</span>
                                                                    </div>
                                                                    {{- end}}
                                                                    <select id="Service.{{$index}}.Type" name="Service.{{$index}}.Type" data-index="{{$index}}" onChange="checkTypeChange($(this));" data-app="checks" class="client-parameter form-control input-sm serviceTypeSelect" data-group="services" data-label="Check {{instance $index}} Type" data-original="{{$svc.Type}}" value="{{$svc.Type}}">
                                                                        <option value="process"{{if eq $svc.Type "process"}} selected{{end}}>Process</option>
                                                                        <option value="http"{{if eq $svc.Type "http"}} selected{{end}}>HTTP</option>
                                                                        <option value="tcp"{{if eq $svc.Type "tcp"}} selected{{end}}>TCP Port</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group" style="width:100%">
                                                                <div class="input-group" style="width:100%">
                                                                    {{- if (locked (printf "%s_SERVICE_%d_CHECK" $.Flags.EnvPrefix $index)) }}
                                                                    <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                        <div style="display:none;" class="dialogText">
                                                                            An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                        </div>
                                                                        <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                        <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SERVICE_%d_CHECK" $.Flags.EnvPrefix $index}}</span>
                                                                    </div>
                                                                    {{- end}}
                                                                    <input type="text" id="Service.{{$index}}.Value" name="Service.{{$index}}.Value" data-index="{{$index}}" data-app="checks" class="client-parameter form-control input-sm" data-group="services" data-label="Check {{instance $index}} Value" data-original="{{$svc.Value}}" value="{{$svc.Value}}">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group" style="width:100%">
                                                                <div class="input-group" style="width:100%">
                                                                    <input id="Service.{{$index}}.Expect" name="Service.{{$index}}.Expect" data-index="{{$index}}" data-app="checks" class="client-parameter form-control input-sm serviceProcessParamExpect" data-group="services" data-label="Check {{instance $index}} Expect" data-original="{{$svc.Expect}}" value="{{$svc.Expect}}" style="display:none;">
                                                                    {{- if (locked (printf "%s_SERVICE_%d_EXPECT" $.Flags.EnvPrefix $index)) }}
                                                                    <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                        <div style="display:none;" class="dialogText">
                                                                            An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                        </div>
                                                                        <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                        <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SERVICE_%d_EXPECT" $.Flags.EnvPrefix $index}}</span>
                                                                    </div>
                                                                    {{- end}}
                                                                    <select multiple id="Service.{{$index}}.Expect.StatusCode" onChange="checkExpectChange($(this));" data-index="{{$index}}" data-app="checks" style="width:100%;{{if ne $svc.Type "http"}}display:none;{{end}}" class="form-control input-sm serviceHTTPParam">
                                                                        <option value="SSL"{{if and (eq $svc.Type "http") (contains $svc.Expect "SSL")}} selected{{end}}>SSL: Validate Certificate</option>
                                                                        <option value="100"{{if and (eq $svc.Type "http") (contains $svc.Expect "100")}} selected{{end}}>100: Continue</option>
                                                                        <option value="101"{{if and (eq $svc.Type "http") (contains $svc.Expect "101")}} selected{{end}}>101: SwitchingProtocols</option>
                                                                        <option value="102"{{if and (eq $svc.Type "http") (contains $svc.Expect "102")}} selected{{end}}>102: Processing</option>
                                                                        <option value="103"{{if and (eq $svc.Type "http") (contains $svc.Expect "103")}} selected{{end}}>103: EarlyHints</option>
                                                                        <option value="200"{{if or (ne $svc.Type "http") (contains $svc.Expect "200")}} selected{{end}}>200: OK</option>
                                                                        <option value="201"{{if and (eq $svc.Type "http") (contains $svc.Expect "201")}} selected{{end}}>201: Created</option>
                                                                        <option value="202"{{if and (eq $svc.Type "http") (contains $svc.Expect "202")}} selected{{end}}>202: Accepted</option>
                                                                        <option value="203"{{if and (eq $svc.Type "http") (contains $svc.Expect "203")}} selected{{end}}>203: NonAuthoritativeInfo</option>
                                                                        <option value="204"{{if and (eq $svc.Type "http") (contains $svc.Expect "204")}} selected{{end}}>204: NoContent</option>
                                                                        <option value="205"{{if and (eq $svc.Type "http") (contains $svc.Expect "205")}} selected{{end}}>205: ResetContent</option>
                                                                        <option value="206"{{if and (eq $svc.Type "http") (contains $svc.Expect "206")}} selected{{end}}>206: PartialContent</option>
                                                                        <option value="207"{{if and (eq $svc.Type "http") (contains $svc.Expect "207")}} selected{{end}}>207: MultiStatus</option>
                                                                        <option value="208"{{if and (eq $svc.Type "http") (contains $svc.Expect "208")}} selected{{end}}>208: AlreadyReported</option>
                                                                        <option value="226"{{if and (eq $svc.Type "http") (contains $svc.Expect "226")}} selected{{end}}>226: IMUsed</option>
                                                                        <option value="300"{{if and (eq $svc.Type "http") (contains $svc.Expect "300")}} selected{{end}}>300: MultipleChoices</option>
                                                                        <option value="301"{{if and (eq $svc.Type "http") (contains $svc.Expect "301")}} selected{{end}}>301: MovedPermanently</option>
                                                                        <option value="302"{{if and (eq $svc.Type "http") (contains $svc.Expect "302")}} selected{{end}}>302: Found</option>
                                                                        <option value="303"{{if and (eq $svc.Type "http") (contains $svc.Expect "303")}} selected{{end}}>303: SeeOther</option>
                                                                        <option value="304"{{if and (eq $svc.Type "http") (contains $svc.Expect "304")}} selected{{end}}>304: NotModified</option>
                                                                        <option value="305"{{if and (eq $svc.Type "http") (contains $svc.Expect "305")}} selected{{end}}>305: UseProxy</option>
                                                                        <option value="307"{{if and (eq $svc.Type "http") (contains $svc.Expect "307")}} selected{{end}}>307: TemporaryRedirect</option>
                                                                        <option value="308"{{if and (eq $svc.Type "http") (contains $svc.Expect "308")}} selected{{end}}>308: PermanentRedirect</option>
                                                                        <option value="400"{{if and (eq $svc.Type "http") (contains $svc.Expect "400")}} selected{{end}}>400: BadRequest</option>
                                                                        <option value="401"{{if and (eq $svc.Type "http") (contains $svc.Expect "401")}} selected{{end}}>401: Unauthorized</option>
                                                                        <option value="402"{{if and (eq $svc.Type "http") (contains $svc.Expect "402")}} selected{{end}}>402: PaymentRequired</option>
                                                                        <option value="403"{{if and (eq $svc.Type "http") (contains $svc.Expect "403")}} selected{{end}}>403: Forbidden</option>
                                                                        <option value="404"{{if and (eq $svc.Type "http") (contains $svc.Expect "404")}} selected{{end}}>404: NotFound</option>
                                                                        <option value="405"{{if and (eq $svc.Type "http") (contains $svc.Expect "405")}} selected{{end}}>405: MethodNotAllowed</option>
                                                                        <option value="406"{{if and (eq $svc.Type "http") (contains $svc.Expect "406")}} selected{{end}}>406: NotAcceptable</option>
                                                                        <option value="407"{{if and (eq $svc.Type "http") (contains $svc.Expect "407")}} selected{{end}}>407: ProxyAuthRequired</option>
                                                                        <option value="408"{{if and (eq $svc.Type "http") (contains $svc.Expect "408")}} selected{{end}}>408: RequestTimeout</option>
                                                                        <option value="409"{{if and (eq $svc.Type "http") (contains $svc.Expect "409")}} selected{{end}}>409: Conflict</option>
                                                                        <option value="410"{{if and (eq $svc.Type "http") (contains $svc.Expect "410")}} selected{{end}}>410: Gone</option>
                                                                        <option value="411"{{if and (eq $svc.Type "http") (contains $svc.Expect "411")}} selected{{end}}>411: LengthRequired</option>
                                                                        <option value="412"{{if and (eq $svc.Type "http") (contains $svc.Expect "412")}} selected{{end}}>412: PreconditionFailed</option>
                                                                        <option value="413"{{if and (eq $svc.Type "http") (contains $svc.Expect "413")}} selected{{end}}>413: RequestEntityTooLarge</option>
                                                                        <option value="414"{{if and (eq $svc.Type "http") (contains $svc.Expect "414")}} selected{{end}}>414: RequestURITooLong</option>
                                                                        <option value="415"{{if and (eq $svc.Type "http") (contains $svc.Expect "415")}} selected{{end}}>415: UnsupportedMediaType</option>
                                                                        <option value="416"{{if and (eq $svc.Type "http") (contains $svc.Expect "415")}} selected{{end}}>416: RequestedRangeNotSatisfiable</option>
                                                                        <option value="417"{{if and (eq $svc.Type "http") (contains $svc.Expect "417")}} selected{{end}}>417: ExpectationFailed</option>
                                                                        <option value="418"{{if and (eq $svc.Type "http") (contains $svc.Expect "418")}} selected{{end}}>418: Teapot</option>
                                                                        <option value="421"{{if and (eq $svc.Type "http") (contains $svc.Expect "421")}} selected{{end}}>421: MisdirectedRequest</option>
                                                                        <option value="422"{{if and (eq $svc.Type "http") (contains $svc.Expect "422")}} selected{{end}}>422: UnprocessableEntity</option>
                                                                        <option value="423"{{if and (eq $svc.Type "http") (contains $svc.Expect "423")}} selected{{end}}>423: Locked</option>
                                                                        <option value="424"{{if and (eq $svc.Type "http") (contains $svc.Expect "424")}} selected{{end}}>424: FailedDependency</option>
                                                                        <option value="425"{{if and (eq $svc.Type "http") (contains $svc.Expect "425")}} selected{{end}}>425: TooEarly</option>
                                                                        <option value="426"{{if and (eq $svc.Type "http") (contains $svc.Expect "426")}} selected{{end}}>426: UpgradeRequired</option>
                                                                        <option value="428"{{if and (eq $svc.Type "http") (contains $svc.Expect "428")}} selected{{end}}>428: PreconditionRequired</option>
                                                                        <option value="429"{{if and (eq $svc.Type "http") (contains $svc.Expect "429")}} selected{{end}}>429: TooManyRequests</option>
                                                                        <option value="431"{{if and (eq $svc.Type "http") (contains $svc.Expect "431")}} selected{{end}}>431: RequestHeaderFieldsTooLarge</option>
                                                                        <option value="451"{{if and (eq $svc.Type "http") (contains $svc.Expect "451")}} selected{{end}}>451: UnavailableForLegalReasons</option>
                                                                        <option value="500"{{if and (eq $svc.Type "http") (contains $svc.Expect "500")}} selected{{end}}>500: InternalServerError</option>
                                                                        <option value="501"{{if and (eq $svc.Type "http") (contains $svc.Expect "501")}} selected{{end}}>501: NotImplemented</option>
                                                                        <option value="502"{{if and (eq $svc.Type "http") (contains $svc.Expect "502")}} selected{{end}}>502: BadGateway</option>
                                                                        <option value="503"{{if and (eq $svc.Type "http") (contains $svc.Expect "503")}} selected{{end}}>503: ServiceUnavailable</option>
                                                                        <option value="504"{{if and (eq $svc.Type "http") (contains $svc.Expect "504")}} selected{{end}}>504: GatewayTimeout</option>
                                                                        <option value="505"{{if and (eq $svc.Type "http") (contains $svc.Expect "505")}} selected{{end}}>505: HTTPVersionNotSupported</option>
                                                                        <option value="506"{{if and (eq $svc.Type "http") (contains $svc.Expect "506")}} selected{{end}}>506: VariantAlsoNegotiates</option>
                                                                        <option value="507"{{if and (eq $svc.Type "http") (contains $svc.Expect "507")}} selected{{end}}>507: InsufficientStorage</option>
                                                                        <option value="508"{{if and (eq $svc.Type "http") (contains $svc.Expect "508")}} selected{{end}}>508: LoopDetected</option>
                                                                        <option value="510"{{if and (eq $svc.Type "http") (contains $svc.Expect "510")}} selected{{end}}>510: NotExtended</option>
                                                                        <option value="511"{{if and (eq $svc.Type "http") (contains $svc.Expect "511")}} selected{{end}}>511: NetworkAuthenticationRequired</option>
                                                                    </select>
                                                                    <select onChange="checkExpectChange($(this));" style="width:40%;{{if ne $svc.Type "process"}}display:none;{{end}}" class="form-control input-sm serviceProcessParam serviceProcessParamSelector">
                                                                        <option value="">None</option>
                                                                        <option value="restart"{{if contains $svc.Expect "restart"}} selected{{end}}>
                                                                            Restarts
                                                                        </option>
                                                                        <option value="running"{{if contains $svc.Expect "running"}} selected{{end}}>
                                                                            Running
                                                                        </option>
                                                                    </select>
                                                                    <input type="number" min="0" onChange="checkExpectChange($(this));" title="Minimum number of processes allowed to run." class="form-control input-sm serviceProcessParam serviceProcessParamMin" value="{{min $svc.Expect}}" style="width:30%;{{if ne $svc.Type "process"}}display:none;{{end}}"{{if contains $svc.Expect "running"}} disabled{{end}}>
                                                                    <input type="number" min="0" onChange="checkExpectChange($(this));" title="Maximum number of processes allowed to run." class="form-control input-sm serviceProcessParam serviceProcessParamMax" value="{{max $svc.Expect}}" style="width:30%;{{if ne $svc.Type "process"}}display:none;{{end}}"{{if contains $svc.Expect "running"}} disabled{{end}}>
                                                                    <input disabled type="text" data-app="checks" value="unused" class="form-control input-sm serviceTCPParam" style="{{if ne $svc.Type "tcp"}}display:none;{{end}}">
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group" style="width:100%">
                                                                <div class="input-group" style="width:100%">
                                                                    {{- if (locked (printf "%s_SERVICE_%d_INTERVAL" $.Flags.EnvPrefix $index)) }}
                                                                    <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                        <div style="display:none;" class="dialogText">
                                                                            An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                        </div>
                                                                        <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                        <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SERVICE_%d_INTERVAL" $.Flags.EnvPrefix $index}}</span>
                                                                    </div>
                                                                    {{- end}}
                                                                    <select type="select" id="Service.{{$index}}.Interval" name="Service.{{$index}}.Interval" data-index="{{$index}}" data-app="checks" class="client-parameter form-control input-sm" data-group="services" data-label="Check {{instance $index}} Interval" data-original="{{$svc.Interval}}">
{{template "includes/intervaloptions.html" $svc.Interval}}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td{{if (locked (printf "%s_SERVICE_%d_TIMEOUT" $.Flags.EnvPrefix $index)) }} style="width:85px;min-width:85px;"{{end}}>
                                                            <div class="form-group" style="width:100%">
                                                                <div class="input-group" style="width:100%">
                                                                    {{- if (locked (printf "%s_SERVICE_%d_TIMEOUT" $.Flags.EnvPrefix $index)) }}
                                                                    <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                        <div style="display:none;" class="dialogText">
                                                                            An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                        </div>
                                                                        <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                        <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SERVICE_%d_TIMEOUT" $.Flags.EnvPrefix $index}}</span>
                                                                    </div>
                                                                    {{- end}}
                                                                    <select type="select" id="Service.{{$index}}.Timeout" name="Service.{{$index}}.Timeout" data-index="{{$index}}" data-app="checks" class="client-parameter form-control input-sm" data-group="services" data-label="Check {{instance $index}} Timeout" data-original="{{$svc.Timeout}}">
                                                                        <!-- option value="-1s">Disabled</option -->
                                                                        <option value="0s">No Timeout</option>
                                                                        {{- range $i := one259 }}
                                                                        <option {{if eq $svc.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                        {{- end}}
                                                                        <option {{if eq $svc.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                        {{- range $i := one259 }}
                                                                        <option {{if eq $svc.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                        {{- end}}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {{- end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-10 col-md-12 col-sm-12 mb">
                                    <h3><i class="fas fa-comment text-orange"></i> Notes</h3>
                                    <li><i class="fas fa-star text-dgrey"></i> Service Checks must have non-empty unique names.</li>
                                    <li><i class="fas fa-star text-dgrey"></i> Do not add starr, media, snapshot, or downloader apps here; <b>except Plex</b>. </li>
                                    <li><i class="fas fa-star text-dgrey"></i> If you wish to monitor an application configured on another page, just give it a name. Giving any app a name enables service checks.</li>
                                </div>
{{- /* end of services (leave this comment) */ -}}
