<b>Name</b>: {{.Name}}<br>
<b>Command</b>: {{.Command}}<br>
<b>Hash</b>: {{.Hash}}<hr>
{{- $stats := .Stats}}
<b>Runs</b>: {{$stats.Runs}}<br>
<b>Failures</b>: {{$stats.Fails}}<br>
<b>Last Run</b>: {{$stats.LastRun}}{{if not (eq $stats.LastRun "never")}} ago{{end}}<br>
{{- if $stats.LastOutput }}
<b>Last Output</b>:<br><pre><code>{{$stats.LastOutput}}</code></pre>
{{- end}}
