                                        <thead>
                                            <tr>
                                                <td colspan="7" class="text-center mobile-hide">
                                                    <div style="float: left;"><img src="{{files}}/images/logo/deluge.png" style="height:50px;">
                                                    </div><h2 class="mb-3" style="margin-bottom:-45px">Deluge</h2>
                                                    <div style="float: right;">
                                                        <button id="download-Deluge-addbutton" onclick="addInstance('download', 'Deluge')" data-prefix="Apps" data-sslname="VerifySSL" data-names='["Name","","Config.URL","Config.Password","Interval","Timeout"]' type="button" title="Add another instance of Deluge." class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td colspan="7" class="tablet-hide desktop-hide">
                                                    <button onclick="addInstance('download', 'Deluge')" data-prefix="Apps" type="button" title="Add another instance of Deluge." class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                    <h2 class="mb-3" style="margin-left:5px;display:inline;">Deluge</h2>
                                                    <div style="float:right;"><img src="{{files}}/images/logo/deluge.png" style="height:50px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <div style="display:none;" class="dialogText">
                                                        The <span class="text-danger">red</span> button deletes the instance.<br>
                                                        The <span class="text-success">green</span> button tests the instance.<br>
                                                        The <span class="text-primary">blue</span> button adds a new instance.
                                                    </div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Actions</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Adding a name to any application enables service checks for the instance.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Name</span>
                                                </td>
                                                <td colspan="2">
                                                    <div style="display:none;" class="dialogText">
                                                        http:// or https:// URL for the application instance. Providing an https:// URL reveals a checkbox. 
                                                        Checking this box enables SSL certificate validation; invalid certificates generate an error.
                                                    </div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">URL</span>
                                                </td>
                                                <td>Password</td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Service checks are enabled when a name is added. This controls how often to check.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Interval</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse. Selecting <b>No Timeout</b> can be dangerous. Selecting <b>Disabled</b> completely disables the instance.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Timeout</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody id="download-Deluge-container">
                                        {{- range $index, $app := .Config.Apps.Deluge}}
                                            <input disabled style="display: none;" class="client-parameter download-Deluge{{$index}}-deleted" data-group="download" data-label="Deluge {{instance $index}} Deleted" data-original="false" value="false">
                                            <tr class="download-Deluge" id="download-Deluge-{{$index}}">
                                                <td style="white-space:nowrap;">
                                                    <div class="btn-group" role="group" style="display:flex;">
                                                        <button onclick="removeInstance('download-Deluge', {{$index}})" type="button" class="delete-item-button btn btn-danger btn-sm" style="font-size:18px;width:35px;"><i class="fa fa-minus"></i></button>
                                                        <button id="DelugeIndexLabel{{$index}}" class="btn btn-sm" style="font-size:18px;width:35px;pointer-events:none;">{{instance $index}}</button>
                                                        <button onClick="testInstance($(this), 'Deluge', '{{$index}}')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-check-double"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_DELUGE_%d_NAME" $.Flags.EnvPrefix $index))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_DELUGE_%d_NAME" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Deluge.{{$index}}.Name" name="Apps.Deluge.{{$index}}.Name" data-index="{{$index}}" data-app="Deluge" class="client-parameter form-control input-sm" data-group="download" data-label="Deluge {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td colspan="2">
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_DELUGE_%d_URL" $.Flags.EnvPrefix $index))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_DELUGE_%d_URL" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Deluge.{{$index}}.Config.URL" onChange="showhttps($(this).val(), '#Deluge{{$index}}SSL');" name="Apps.Deluge.{{$index}}.Config.URL" data-index="{{$index}}" data-app="Deluge" class="client-parameter form-control input-sm" data-group="download" data-label="Deluge {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}">
                                                                <div style="width:30px; max-width:30px;{{if not (contains $app.URL "https://")}}display:none;{{end}}" id="Deluge{{$index}}SSL" class="input-group-addon input-sm">
                                                                    <input type="checkbox" id="Apps.Deluge.{{$index}}.VerifySSL" name="Apps.Deluge.{{$index}}.VerifySSL" data-index="{{$index}}" data-app="Deluge" class="client-parameter" data-group="download" data-label="Deluge {{instance $index}} SSL" data-original="{{$app.VerifySSL}}" {{if $app.VerifySSL}}checked {{end}}value="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_DELUGE_%d_PASSWORD" $.Flags.EnvPrefix $index)) }}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_DELUGE_%d_PASSWORD" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Apps.Deluge.{{$index}}.Config.Password" name="Apps.Deluge.{{$index}}.Config.Password" data-index="{{$index}}" data-app="Deluge" class="client-parameter form-control input-sm" data-group="download" data-label="Deluge {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Deluge.{{$index}}.Config.Password', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_DELUGE_%d_INTERVAL" $.Flags.EnvPrefix $index))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_DELUGE_%d_INTERVAL" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Deluge.{{$index}}.Interval" name="Apps.Deluge.{{$index}}.Interval" data-index="{{$index}}" data-app="Deluge" class="client-parameter form-control input-sm" data-group="download" data-label="Deluge {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}">
{{template "includes/intervaloptions.html" $app.Interval}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_DELUGE_%d_TIMEOUT" $.Flags.EnvPrefix $index))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_DELUGE_%d_TIMEOUT" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Deluge.{{$index}}.Timeout" name="Apps.Deluge.{{$index}}.Timeout" data-index="{{$index}}" data-app="Deluge" class="client-parameter form-control input-sm" data-group="download" data-label="Deluge {{instance $index}} Timeout" data-original="{{$app.Timeout}}">
                                                                    <option value="-1s" {{if eq $app.Timeout.Seconds (add 0 -1)}}selected {{end}}>Disabled</option>
                                                                    <option value="0s" {{if eq $app.Timeout.Seconds (add 0 0)}}selected {{end}}>No Timeout</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $app.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                    {{- end}}
                                                                    <option {{if eq $app.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $app.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                    {{- end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        {{- end}}
                                            <tr id="download-Deluge-none" {{if .Config.Apps.Deluge}} style="display: none;"{{end}}><td colspan="7">No Deluge instances configured.</td></tr>
                                        </tbody>
{{- /* end of downloaders deluge (leave this comment) */ -}}
