<!doctype html>
<html lang="en" class="no-js">
    <head>
        <title>Notifiarr Client</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="description" content="Automated discord notifications">
        <meta name="author" content="twitchcaptain, nitsua">
        {{- /* Font awesome */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/fontawesome/css/all.min.css" />
        {{- /* Sandstone Bootstrap CSS */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/bootstrap/bootstrap.min.css">
        {{- /* jQuery UI */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/jquery/jquery-ui.min.css">
        {{- /* Bootstrap Datatables */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/bootstrap/dataTables.bootstrap.min.css">
        {{- /* Bootstrap social button library */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/bootstrap/bootstrap-social.css">
        {{- /* Styles */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/css/style.css">
        <link rel="stylesheet" type="text/css" href="{{files}}/css/custom.css">
        {{- /* Toast */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/toast/toast.css">
        {{- /* Accordion */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/accordion/accordion.css">
        {{- /* Select2 */}}
        <link rel="stylesheet" type="text/css" href="{{files}}/libraries/select2/select2.css">
        {{- /* File Browser */}}
        <link rel="stylesheet"type="text/css"  href="{{files}}/libraries/filebrowser/jquery.filebrowser.min.css">
        {{- /* JS Libraries */}}
        <script type="text/javascript">
            const URLBase='{{.Config.URLBase}}';
            const DirSep='{{if eq .Version.os "windows" }}\\{{else}}/{{end}}';
        </script>
        <script src="{{files}}/libraries/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/jquery/jquery.ui.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/jquery/jquery.ui.touch.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/jquery/jquery.custom.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/jquery/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/bootstrap/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/bootstrap/dataTables.bootstrap.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/balloon/jquery.balloon.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/toast/toast.script.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/select2/select2.min.js" type="text/javascript"></script>
        <script src="{{files}}/libraries/filebrowser/jquery.filebrowser.min.js" type="text/javascript"></script>
        {{- /* Internal */}}
        <script src="{{files}}/js/common.js" type="text/javascript"></script>
    </head>
{{- /* end of header (leave this comment) */ -}}
