                                <h1><i class="fas fa-photo-video"></i> Media Apps</h1>
                                <p>
                                    <h3><i class="fas fa-comment text-orange"></i> Notes</h3>
                                    <li><i class="fas fa-star text-dgrey"></i> The Plex integration is comprehensive, and many of the settings are configured on the Notifiarr.com website.</li>
                                    <li>
                                        <span style="display:none;" class="dialogTitle">Tautulli Integration Explained</span>
                                        <div style="display:none;" class="dialogText">
                                            This is entrirely optional. The Notifiarr website also provides this same feature and allows you to map Plex users to custom names.
                                            <h4>Explained:</h4>
                                            Tautulli provides a feature that allows you to give your Plex users custom usernames. By integrating Notifiarr client with Tautulli, those custom
                                            usernames will be displayed in your chat server notifications. When not enabled, Plex usernames or email addresses are used instead. 
                                        </div>
                                        <a class="help-icon fas fa-star" onClick="dialog($(this), 'left')"></a> The Tautulli integration is used to provide a Plex username to custom name mapping in notifications.
                                    </li>
                                    <li><i class="fas fa-star text-dgrey"></i> Disable Plex or Tautulli by removing the URL or setting Timeout to Disabled. The client only supports one of each.</li>
                                </p>
                                <div class="table-responsive">
                                    <table class="table bk-dark table-bordered">
{{ template "media/plex.html" .}}
{{ template "media/tautulli.html" .}}
                                    </table>
                                </div>
{{- /* end of media (leave this comment) */ -}}
