                                        <thead>
                                            <tr>
                                                <td colspan="7" style="text-align:center;">
                                                    <div style="float: left;"><img src="{{files}}/images/logo/plex.png" style="height:50px;"></div>
                                                    <h2 class="mb-3" style="margin-bottom:-45px">Plex</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:30px;" class="text-center"><i class="fab fa-grunt"></i></td>
                                                <td style="min-width:160px;">
                                                    <div style="display:none;" class="dialogText">The name for Plex comes from Plex and cannot be changed here. There is no automatic way to add a service check to Plex. If you want service checks, add one for it in Service Checks.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-user-lock"></a>
                                                    <span class="dialogTitle">Name</span>
                                                </td>
                                                <td style="min-width:180px;">
                                                    <div style="display:none;" class="dialogText">
                                                        http:// or https:// URL for the application instance. If your application has a Base URL, include it.
                                                        Providing an https:// URL reveals a checkbox.
                                                        Checking this box enables SSL certificate validation; invalid certificates generate an error.
                                                    </div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">URL</span>
                                                    </td>
                                                </td>
                                                <td colspan="2">
                                                    <div style="display:none;" class="dialogText">
                                                        You may find directions for locating your Plex token at this <a target="_new" href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/">Plex Article</a>.
                                                    </div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Plex Token</span>
                                                </td>
                                                <td style="min-width:120px;width:120px">
                                                    <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse. Selecting <b>No Timeout</b> can be dangerous. Selecting <b>Disabled</b> completely disables the instance.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Timeout</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="btn-group" role="group" style="display:flex;font-size:18px;">
                                                        <button onClick="testInstance($(this), 'Plex', '1')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-check-double"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input readonly type="text" id="Plex.Name" name="Plex.Name" class="client-parameter form-control input-sm" data-group="media" data-label="Plex Name" data-original="{{.Config.Plex.Name}}" value="{{.Config.Plex.Name}}" style="width: 100%;">
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_PLEX_URL" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_PLEX_URL" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" onChange="showhttps($(this).val(), '#PlexSSL');" id="Plex.URL" name="Plex.URL" class="client-parameter form-control input-sm" data-group="media" data-label="Plex URL" data-original="{{.Config.Plex.URL}}" value="{{.Config.Plex.URL}}">
                                                                <div style="width:30px; max-width:30px;{{if not (contains .Config.Plex.URL "https://")}}display:none;{{end}}" id="PlexSSL" class="input-group-addon input-sm">
                                                                    <input type="checkbox" id="Plex.VerifySSL" name="Plex.VerifySSL" data-app="Plex" class="client-parameter" data-group="media" data-label="Plex SSL" data-original="{{.Config.Plex.VerifySSL}}" {{if .Config.Plex.VerifySSL}}checked {{end}}value="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td colspan="2">
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_PLEX_TOKEN" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_PLEX_TOKEN" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Plex.Token" name="Plex.Token" data-app="Plex" class="client-parameter form-control input-sm" data-group="media" data-label="Plex Token" data-original="{{.Config.Plex.Token}}" value="{{.Config.Plex.Token}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Plex.Token', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_PLEX_TIMEOUT" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_PLEX_TIMEOUT" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Plex.Timeout" name="Plex.Timeout" class="client-parameter form-control input-sm" data-group="media" data-label="Plex Timeout" data-original="{{.Config.Plex.Timeout}}">
                                                                    <option value="-1s" {{if eq $.Config.Plex.Timeout.Seconds (add -1 0)}}selected {{end}}>Disabled</option>
                                                                    <option value="0s" {{if eq $.Config.Plex.Timeout.Seconds (add 0 0)}}selected {{end}}>No Timeout</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Plex.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                    {{- end}}
                                                                    <option {{if eq $.Config.Plex.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Plex.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                    {{- end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
{{- /* end of Plex (leave this comment) */ -}}
