                                        <thead>
                                            <tr><td colspan="7" style="text-align:center;">
                                                <div style="float: left;"><img src="{{files}}/images/logo/tautulli.png" style="height:50px;"></div>
                                                <h2 class="mb-3" style="margin-bottom:-45px">Tautulli</h2>
                                            </td></tr>
                                            <tr>
                                                <td class="text-center"><i class="far fa-snowman"></i></td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Adding a name to any application enables service checks for the instance.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Name</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">
                                                        http:// or https:// URL for the application instance. If your application has a Base URL, include it.
                                                        Providing an https:// URL reveals a checkbox.
                                                        Checking this box enables SSL certificate validation; invalid certificates generate an error.
                                                    </div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">URL</span>
                                                </td>
                                                <td style="min-width:150px;">
                                                    <div style="display:none;" class="dialogText">Get this from Tautulli Settings.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">API Key</span>
                                                </td>
                                                <td style="min-width:110px;width:110px;">
                                                    <div style="display:none;" class="dialogText">Service checks are enabled when a name is added. This controls how often to check.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Interval</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse. Selecting <b>No Timeout</b> can be dangerous. Selecting <b>Disabled</b> completely disables the instance.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Timeout</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="btn-group" role="group" style="display:flex;font-size:18px;">
                                                        <button onClick="testInstance($(this), 'Tautulli', '1')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-check-double"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_NAME" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_NAME" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Tautulli.Name" name="Apps.Tautulli.Name" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli Name" data-original="{{.Config.Apps.Tautulli.Name}}" value="{{.Config.Apps.Tautulli.Name}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_URL" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_URL" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" onChange="showhttps($(this).val(), '#TautulliSSL');" id="Apps.Tautulli.URL" name="Apps.Tautulli.URL" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli URL" data-original="{{.Config.Apps.Tautulli.URL}}" value="{{.Config.Apps.Tautulli.URL}}">
                                                                <div style="width:30px; max-width:30px;{{if not (contains .Config.Apps.Tautulli.URL "https://")}}display:none;{{end}}" id="TautulliSSL" class="input-group-addon input-sm">
                                                                    <input type="checkbox" id="Apps.Tautulli.VerifySSL" name="Apps.Tautulli.VerifySSL" data-app="Tautulli" class="client-parameter" data-group="media" data-label="Tautulli SSL" data-original="{{.Config.Apps.Tautulli.VerifySSL}}" {{if .Config.Apps.Tautulli.VerifySSL}}checked {{end}}value="true">
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_API_KEY" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_API_KEY" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Apps.Tautulli.APIKey" name="Apps.Tautulli.APIKey" data-app="Tautulli" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli API Key" data-original="{{.Config.Apps.Tautulli.APIKey}}" value="{{.Config.Apps.Tautulli.APIKey}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Tautulli.APIKey', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_INTERVAL" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_INTERVAL" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Tautulli.Interval" name="Apps.Tautulli.Interval" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli Interval" data-original="{{.Config.Apps.Tautulli.Interval}}">
{{template "includes/intervaloptions.html" $.Config.Apps.Tautulli.Interval}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_TIMEOUT" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_TIMEOUT" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Tautulli.Timeout" name="Apps.Tautulli.Timeout" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli Timeout" data-original="{{.Config.Apps.Tautulli.Timeout}}">
                                                                    <option value="-1s" {{if eq $.Config.Tautulli.Timeout.Seconds (add -1 0)}}selected {{end}}>Disabled</option>
                                                                    <option value="0s" {{if eq $.Config.Tautulli.Timeout.Seconds (add 0 0)}}selected {{end}}>No Timeout</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Apps.Tautulli.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                    {{- end}}
                                                                    <option {{if eq $.Config.Apps.Tautulli.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Apps.Tautulli.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                    {{- end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
{{- /* end of Tautulli (leave this comment) */ -}}
