
                                        <thead>
                                            <tr>
                                                <td colspan="8" class="text-center mobile-hide">
                                                    <div style="float: left;"><img src="{{files}}/images/logo/sonarr.png" style="height:50px;"></div>
                                                    <h2 style="margin-bottom:-45px">Sonarr</h2>
                                                    <div style="float: right;">
                                                        <button id="starr-Sonarr-addbutton" onclick="addInstance('starr', 'Sonarr')" data-prefix="Apps" data-sslname="ValidSSL" data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout"]' type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td colspan="8" class="tablet-hide desktop-hide">
                                                    <button onclick="addInstance('starr', 'Sonarr')" data-prefix="Apps" type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                    <h2 style="margin-left:5px;display:inline;">Sonarr</h2>
                                                    <div style="float:right;"><img src="{{files}}/images/logo/sonarr.png" style="height:50px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:70px;min-width:70px;" class="text-center">
                                                    <div style="display:none;" class="dialogText">
                                                        The <span class="text-danger">red</span> button deletes the instance.<br>
                                                        The <span class="text-success">green</span> button tests the instance.<br>
                                                        The <span class="text-primary">blue</span> button adds a new instance.
                                                    </div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Actions</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Adding a name to any application enables service checks for the instance.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Name</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">
                                                        http:// or https:// URL for the application instance. Include the Base URL if that's configured in your application.
                                                        Providing an https:// URL reveals a checkbox. 
                                                        Checking this box enables SSL certificate validation; invalid certificates generate an error.
                                                    </div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">URL</span>
                                                </td>
                                                <td style="min-width:100px;">
                                                    <div style="display:none;" class="dialogText">Get your API key from the application's General Settings. You know the thing, c'mon man!</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">API Key</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Username and password are required when authentication is enabled in the application, AND you enabled corruption checks. Database backups cannot be download from the API, and they must be downloaded from a non-API path that may be authenticated. If you get 401 errors when doing Corruption checks, add your username and password.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Username</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Username and password are required when authentication is enabled in the application, AND you enabled corruption checks. Database backups cannot be download from the API, and they must be downloaded from a non-API path that may be authenticated. If you get 401 errors when doing Corruption checks, add your username and password.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Password</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Service checks are enabled when a name is added. This controls how often to check.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Interval</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Timeout</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody id="starr-Sonarr-container">
                                            {{- range $index, $app := .Config.Apps.Sonarr}}
                                            <input disabled style="display: none;" class="client-parameter form-control input-sm starr-Sonarr{{$index}}-deleted" data-group="starr" data-label="Sonarr {{instance $index}} Deleted" data-original="false" value="false">
                                            <tr class="starr-Sonarr" id="starr-Sonarr-{{$index}}">
                                                <td style="white-space:nowrap;">
                                                    <div class="btn-group" role="group" style="display:flex;">
                                                        <button onclick="removeInstance('starr-Sonarr', {{$index}})" type="button" class="delete-item-button btn btn-danger btn-sm" style="font-size:18px;width:35px;"><i class="fa fa-minus"></i></button>
                                                        <button id="SonarrIndexLabel{{$index}}" class="btn btn-sm" style="font-size:18px;width:35px;pointer-events:none;">{{instance $index}}</button>
                                                        <button onClick="testInstance($(this), 'Sonarr', '{{$index}}')" style="font-size:18px;" type="button" class="btn btn-success btn-sm checkInstanceBtn"><i class="fas fa-check-double"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_NAME" $.Flags.EnvPrefix $index)) }}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_NAME" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Sonarr.{{$index}}.Name" name="Apps.Sonarr.{{$index}}.Name" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_URL" $.Flags.EnvPrefix $index)) }}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_URL" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Sonarr.{{$index}}.URL" name="Apps.Sonarr.{{$index}}.URL" onChange="showhttps($(this).val(), '#Sonarr{{$index}}SSL');" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}">
                                                                <div style="width:30px; max-width:30px;{{if not (contains $app.URL "https://")}}display:none;{{end}}" id="Sonarr{{$index}}SSL" class="input-group-addon input-sm">
                                                                    <input type="checkbox" id="Apps.Sonarr.{{$index}}.ValidSSL" name="Apps.Sonarr.{{$index}}.ValidSSL" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="download" data-label="Sonarr {{instance $index}} SSL" data-original="{{$app.ValidSSL}}" {{if $app.ValidSSL}}checked {{end}}value="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_API_KEY" $.Flags.EnvPrefix $index)) }}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_API_KEY" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Apps.Sonarr.{{$index}}.APIKey" name="Apps.Sonarr.{{$index}}.APIKey" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} API Key" data-original="{{$app.APIKey}}" value="{{$app.APIKey}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Sonarr.{{$index}}.APIKey', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_USERNAME" $.Flags.EnvPrefix $index)) }}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_USERNAME" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Sonarr.{{$index}}.Username" name="Apps.Sonarr.{{$index}}.Username" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} Username" data-original="{{$app.Username}}" value="{{$app.Username}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_PASSWORD" $.Flags.EnvPrefix $index))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_PASSWORD" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Apps.Sonarr.{{$index}}.Password" name="Apps.Sonarr.{{$index}}.Password" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Sonarr.{{$index}}.Password', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_INTERVAL" $.Flags.EnvPrefix $index))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_INTERVAL" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Sonarr.{{$index}}.Interval" name="Apps.Sonarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}">
{{template "includes/intervaloptions.html" $app.Interval}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_SONARR_%d_TIMEOUT" $.Flags.EnvPrefix $index)) }}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_SONARR_%d_TIMEOUT" $.Flags.EnvPrefix $index}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Sonarr.{{$index}}.Timeout" name="Apps.Sonarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Sonarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Sonarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}">
                                                                    <option value="-1s" {{if eq $app.Timeout.Seconds (add 0 -1)}}selected {{end}}>Disabled</option>
                                                                    <option value="0s" {{if eq $app.Timeout.Seconds (add 0 0)}}selected {{end}}>No Timeout</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $app.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                    {{- end}}
                                                                    <option {{if eq $app.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $app.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                    {{- end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            {{- end}}
                                            <tr id="starr-Sonarr-none"{{if .Config.Apps.Sonarr}} style="display: none;"{{end}}><td colspan="8">No Sonarr instances configured.</td></tr>
                                        </tbody>
{{- /* end of sonarr (leave this comment) */ -}}
